* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  color: black;
}

.nav-item {
  font-size: 20px;
  margin: 15px;
}

.navbar {
  background-color: rgb(251, 249, 249);
}
.navbar .navbar-toggler-icon {
  color: rgb(228, 13, 13);
}
.navbar a {
  color: rgb(228, 13, 13);
}
.navbar a:hover {
  color: rgb(255, 166, 0);
  font-size: 21px;
}
.navbar .nav-item .active {
  font-weight: bold;
}

.fonelist {
  text-align: center;
  margin: 50px 100px;
}
.fonelist .our {
  font-size: 30px;
  font-weight: bold;
}
.fonelist hr {
  border: 2px solid red;
  margin: auto;
  width: 120px;
  border-radius: 10px;
}
.fonelist .container-fluid {
  margin-top: 50px;
}
.fonelist .container-fluid .col-md-2 {
  padding: 10px;
  border: 1px solid rgba(126, 255, 236, 0.679);
}
.fonelist .container-fluid .col-md-2 img {
  padding: 10px;
  width: 100px;
}
@media (min-width: 768px) and (max-width: 866px) {
  .fonelist .container-fluid .col-md-2 img {
    width: 80px;
  }
}
.fonelist .container-fluid .col-md-2 p {
  font-size: 20px;
  color: rgb(228, 13, 13);
}

.newarrivial {
  display: flex;
  text-align: center;
}
@media (max-width: 1050px) {
  .newarrivial {
    flex-wrap: wrap;
  }
}
.newarrivial .youtube {
  flex: 50%;
  padding: 20px;
  padding-left: 80px;
}
@media (max-width: 1050px) {
  .newarrivial .youtube {
    padding: 20px;
  }
}
@media (max-width: 650px) {
  .newarrivial .youtube iframe {
    width: 60vh;
    height: 300px;
  }
}
@media (max-width: 380px) {
  .newarrivial .youtube iframe {
    width: 50vh;
    height: 300px;
  }
}
.newarrivial .detail {
  flex: 50%;
  padding-right: 80px;
}
.newarrivial .detail .new {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
}
.newarrivial .detail hr {
  border: 2px solid red;
  margin: auto;
  width: 120px;
  border-radius: 10px;
}
.newarrivial .detail p {
  flex-wrap: wrap;
  margin-top: 30px;
  text-align: justify;
}
@media (max-width: 1050px) {
  .newarrivial .detail {
    padding: 20px 100px;
  }
}
@media (max-width: 650px) {
  .newarrivial .detail {
    padding: 20px;
  }
}

.beautiful .products {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
}
.beautiful hr {
  border: 2px solid red;
  margin: auto;
  width: 120px;
  margin-bottom: 30px;
  border-radius: 10px;
}
.beautiful .menu {
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.beautiful .menu a {
  text-decoration: none;
}
.beautiful .menu div {
  background-color: rgb(233, 231, 231);
  text-align: center;
  width: 200px;
  margin: 15px;
  height: 220px;
  border-radius: 10px;
}
.beautiful .menu div:hover {
  transform: scale(1.1);
}
.beautiful .menu div img {
  border-radius: 10px 10px 0px 0px;
  width: 200px;
  height: 160px;
}
.beautiful .menu div p {
  color: rgb(170, 0, 0);
  margin: 15px;
  font-size: 18px;
  font-weight: bold;
}

.review {
  background: url("https://i.ibb.co/PTJDkgb/testimonials.jpg");
  margin-top: 20px;
}
.review p {
  padding-top: 20px;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  color: white;
}
.review hr {
  border: 2px solid red;
  margin: auto;
  width: 120px;
  margin-bottom: 30px;
  border-radius: 10px;
}

#carouselExampleControls {
  padding: 0px 50px 50px;
}

.carousel {
  text-align: center;
}
.carousel img {
  width: 300px;
}

footer {
  position: relative;
  padding: 20px;
  background-color: black;
}
footer .footer {
  display: flex;
}
footer .footer div {
  margin: 30px;
  width: 300px;
}
footer .footer div .he {
  font-size: 24px;
  font-weight: bold;
}
footer .footer div i {
  color: white;
  margin: 10px;
}
footer .footer div p {
  margin: 0%;
  color: white;
}
footer .footer .about {
  flex: 40%;
  text-align: justify;
}
footer .footer .navigation {
  flex: 20%;
}
footer .footer .navigation a {
  text-decoration: none;
}
footer .footer .contact {
  flex: 40%;
}
@media (max-width: 800px) {
  footer .footer {
    flex-wrap: wrap;
  }
}
footer .map {
  text-align: center;
}
footer .map iframe {
  width: 90%;
  height: 300px;
}

.sections {
  padding: 50px 50px 10px;
  text-align: center;
}
.sections p {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
}
.sections hr {
  border: 2px solid red;
  margin: auto;
  width: 120px;
  margin-bottom: 30px;
  border-radius: 10px;
}
.sections img {
  margin: 20px;
  border: 1px solid gray;
  width: 350px;
  height: 250px;
  box-shadow: 0px 5px 10px black;
}

.about {
  margin: 30px 0px 50px;
}
.about .new {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
}
.about hr {
  border: 2px solid red;
  margin: auto;
  width: 120px;
  border-radius: 10px;
}
.about .d {
  margin-top: 30px;
  display: flex;
  text-align: center;
}
@media (max-width: 1050px) {
  .about .d {
    flex-wrap: wrap;
  }
}
.about .d .youtube {
  flex: 50%;
  padding: 20px;
  padding-left: 80px;
}
@media (max-width: 1050px) {
  .about .d .youtube {
    padding: 20px;
    width: 60vh;
  }
}
@media (max-width: 650px) {
  .about .d .youtube iframe {
    width: 60vh;
    height: 300px;
  }
}
@media (max-width: 380px) {
  .about .d .youtube iframe {
    width: 50vh;
    height: 300px;
  }
}
.about .d .detail {
  flex: 60%;
  padding: 0px 80px 0px 20px;
}
.about .d .detail p {
  margin-top: 30px;
  text-align: justify;
}
@media (max-width: 1050px) {
  .about .d .detail {
    padding: 20px 100px;
  }
}
@media (max-width: 650px) {
  .about .d .detail {
    padding: 0px 40px;
  }
}

.contact_us {
  margin: 30px 150px 60px;
  background-color: rgba(126, 255, 236, 0.3);
  border-radius: 20px;
  box-shadow: 0px 5px 10px black;
}
@media (max-width: 1200px) {
  .contact_us {
    margin: 30px 50px 60px;
  }
}
@media (max-width: 500px) {
  .contact_us {
    margin: 30px 20px 60px;
  }
}
.contact_us .con {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  padding-top: 20px;
}
.contact_us .hr {
  border: 2px solid red;
  margin: auto;
  width: 120px;
  border-radius: 10px;
}
.contact_us .d {
  display: flex;
}
@media (max-width: 800px) {
  .contact_us .d {
    flex-wrap: wrap;
  }
}
.contact_us .d .shop_detail {
  margin: 20px;
  flex: 50%;
}
.contact_us .d .shop_detail .jay {
  font-size: 24px;
  font-weight: bold;
}
.contact_us .d .shop_detail .hrOne {
  border: 2px solid black;
  width: 60px;
  border-radius: 10px;
}
.contact_us .d .shop_detail p {
  color: rgb(74, 73, 73);
}
.contact_us .d .shop_detail i {
  color: rgb(74, 73, 73);
}
.contact_us .d .shop_detail .fabInsta {
  font-size: 28px;
  margin-right: 15px;
  margin-top: 10px;
}
.contact_us .d .form {
  margin: 20px;
  flex: 50%;
}
@media (max-width: 800px) {
  .contact_us .d .form {
    margin-top: 30px 0px 0px;
  }
}
.contact_us .d .form input {
  margin: 10px 0px;
  padding: 10px 10px;
  width: 100%;
  border: none;
  border: 1px solid black;
  border-radius: 10px;
}
.contact_us .d .form textarea {
  margin: 10px 0px;
  padding: 10px 10px;
  width: 100%;
  border: none;
  border: 1px solid black;
  border-radius: 10px;
}
.contact_us .d .form button {
  width: 130px;
  padding: 10px;
  background-color: white;
  border: 1px solid black;
  border-radius: 10px;
}
.contact_us .d .form button i {
  margin-left: 5px;
  color: rgb(74, 73, 73);
}
.contact_us .d .form button:hover {
  background-color: rgb(251, 249, 249);
}/*# sourceMappingURL=style.css.map */