$nav-clr : rgb(228, 13, 13);
// $nav-bg: rgba(126, 255, 236);
$nav-bg: rgb(251, 249, 249);

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    color: black;
}

.nav-item {
    font-size: 20px;
    margin: 15px;
}

.navbar {
    background-color: $nav-bg;

    .navbar-toggler-icon {
        color: $nav-clr;
    }

    a {
        color: $nav-clr;

        &:hover {
            color: rgb(255, 166, 0);
            font-size: 21px;
        }
    }

    .nav-item {
        .active {
            font-weight: bold;
        }
    }
}

.fonelist {
    text-align: center;
    margin: 50px 100px;

    .our {
        font-size: 30px;
        font-weight: bold;
    }

    hr {
        border: 2px solid red;
        margin: auto;
        width: 120px;
        border-radius: 10px;
    }

    .container-fluid {
        margin-top: 50px;

        .col-md-2 {
            padding: 10px;
            border: 1px solid rgba(126, 255, 236, 0.679);

            img {
                padding: 10px;
                width: 100px;

                @media (min-width: 768px) and (max-width: 866px) {
                    width: 80px;
                }
            }

            p {
                font-size: 20px;
                color: $nav-clr;
            }
        }
    }
}

.newarrivial {
    display: flex;
    text-align: center;

    @media (max-width: 1050px) {
        flex-wrap: wrap;
    }

    .youtube {
        flex: 50%;
        padding: 20px;
        padding-left: 80px;

        @media (max-width: 1050px) {
            padding: 20px;
        }

        @media (max-width: 650px) {
            iframe {
                width: 60vh;
                height: 300px;
            }
        }

        @media (max-width: 380px) {
            iframe {
                width: 50vh;
                height: 300px;
            }
        }
    }

    .detail {
        flex: 50%;
        padding-right: 80px;

        .new {
            text-align: center;
            font-size: 30px;
            font-weight: bold;
        }

        hr {
            border: 2px solid red;
            margin: auto;
            width: 120px;
            border-radius: 10px;
        }

        p {
            flex-wrap: wrap;
            margin-top: 30px;
            text-align: justify;
        }

        @media (max-width: 1050px) {
            padding: 20px 100px;
        }

        @media (max-width: 650px) {
            padding: 20px;
        }
    }
}

.beautiful {
    .products {
        text-align: center;
        font-size: 30px;
        font-weight: bold;
    }

    hr {
        border: 2px solid red;
        margin: auto;
        width: 120px;
        margin-bottom: 30px;
        border-radius: 10px;
    }

    .menu {
        margin: 10px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        a {
            text-decoration: none;
        }

        div {
            background-color: rgb(233, 231, 231);
            text-align: center;
            width: 200px;
            margin: 15px;
            height: 220px;
            border-radius: 10px;

            &:hover {
                transform: scale(1.1);
            }

            img {
                border-radius: 10px 10px 0px 0px;
                width: 200px;
                height: 160px;
            }

            p {
                color: rgb(170, 0, 0);
                margin: 15px;
                font-size: 18px;
                font-weight: bold;
            }

        }
    }
}

.review {
    background: url("https://i.ibb.co/PTJDkgb/testimonials.jpg");
    margin-top: 20px;

    p {
        padding-top: 20px;
        text-align: center;
        font-size: 30px;
        font-weight: bold;
        color: white;
    }

    hr {
        border: 2px solid red;
        margin: auto;
        width: 120px;
        margin-bottom: 30px;
        border-radius: 10px;
    }
}

#carouselExampleControls {
    padding: 0px 50px 50px;
}

.carousel {
    text-align: center;

    img {
        width: 300px;
    }
}

footer {
    position: relative;
    padding: 20px;
    background-color: black;

    .footer {
        display: flex;

        div {
            margin: 30px;
            width: 300px;

            .he {
                font-size: 24px;
                font-weight: bold;
            }

            i {
                color: white;
                margin: 10px;
            }

            p {
                margin: 0%;
                color: white;
            }
        }

        .about {
            flex: 40%;
            text-align: justify;
        }

        .navigation {
            flex: 20%;

            a {
                text-decoration: none;
            }
        }

        .contact {
            flex: 40%;
        }

        @media (max-width : 800px) {
            flex-wrap: wrap;
        }
    }

    .map {
        text-align: center;

        iframe {
            width: 90%;
            height: 300px;
        }
    }
}



// furniture page

.sections {
    padding: 50px 50px 10px;
    text-align: center;
    
    p {
        text-align: center;
        font-size: 30px;
        font-weight: bold;
    }
    
    hr {
        border: 2px solid red;
        margin: auto;
        width: 120px;
        margin-bottom: 30px;
        border-radius: 10px;
    }
    
    img {
        margin: 20px;
        border: 1px solid gray;
        width: 350px;
        height: 250px;
        box-shadow: 0px 5px 10px black;
    }
}



// about page

.about {
    margin: 30px 0px 50px;
    
    .new {
        text-align: center;
        font-size: 30px;
        font-weight: bold;
    }
    
    hr {
        border: 2px solid red;
        margin: auto;
        width: 120px;
        border-radius: 10px;
    }
    
    .d {
        margin-top: 30px;
        display: flex;
        text-align: center;
        
        @media (max-width: 1050px) {
            flex-wrap: wrap;
        }
        
        .youtube {
            flex: 50%;
            padding: 20px;
            padding-left: 80px;
            
            @media (max-width: 1050px) {
                padding: 20px;
                width: 60vh;
            }
            
            @media (max-width: 650px) {
                iframe {
                    width: 60vh;
                    height: 300px;
                }
            }
            
            @media (max-width: 380px) {
                iframe {
                    width: 50vh;
                    height: 300px;
                }
            }
        }
        
        
        .detail {
            flex: 60%;
            padding: 0px 80px 0px 20px;
            
            p {
                
                margin-top: 30px;
                text-align: justify;
            }
            
            @media (max-width: 1050px) {
                padding: 20px 100px;
            }
            
            @media (max-width: 650px) {
                padding: 0px 40px;
            }
        }
    }
}

.contact_us {
    margin: 30px 150px 60px;
    background-color: rgba(126, 255, 236, 0.3);
    border-radius: 20px;
    box-shadow: 0px 5px 10px black;
    
    @media (max-width: 1200px) {
        margin: 30px 50px 60px;
    }
    
    @media (max-width: 500px) {
        margin: 30px 20px 60px;
    }

    .con {
        text-align: center;
        font-size: 30px;
        font-weight: bold;
        padding-top: 20px;
    }

    .hr {
        border: 2px solid red;
        margin: auto;
        width: 120px;
        border-radius: 10px;
    }

    .d {
        display: flex;

        @media (max-width: 800px) {
            flex-wrap: wrap;
            ;
        }


        .shop_detail {
            margin: 20px;
            flex: 50%;

            .jay {
                font-size: 24px;
                font-weight: bold;
            }

            .hrOne {
                border: 2px solid black;
                width: 60px;
                border-radius: 10px;
            }

            p {
                color: rgb(74, 73, 73);
            }

            i {
                color: rgb(74, 73, 73);
            }

            .fabInsta {
                font-size: 28px;
                margin-right: 15px;
                margin-top: 10px;
            }

        }

        .form {
            margin: 20px;
            flex: 50%;

            @media (max-width: 800px) {
                margin-top: 30px 0px 0px;
            }

            input {
                margin: 10px 0px;
                padding: 10px 10px;
                width: 100%;
                border: none;
                border: 1px solid black;
                border-radius: 10px;
            }
            
            textarea {
                margin: 10px 0px;
                padding: 10px 10px;
                width: 100%;
                border: none;
                border: 1px solid black;
                border-radius: 10px;
            }

            button {
                width: 130px;
                padding: 10px;
                background-color: white;
                border: 1px solid black;
                border-radius: 10px;

                i {
                    margin-left: 5px;
                    color: rgb(74, 73, 73);
                }
                &:hover {
                    background-color: $nav-bg;
                }
            }

        }
    }
}